body {
}

a[type="gameButton"] {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    outline-color: #ffd800;

    color: #527e3d;

    width: 65px;

    padding: 8px 12px;
    border: none;
    outline: none;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.8);
}

#statistics {
    margin-left: 42%;
    background-color: #fff8a8;
    max-width: 200px;
    border: thin, dotted;
}

#content {
    text-align: center;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
  }